@page "/genrespage/{Genre}"
@using Library.Data
@inject BookRepository BookRepo
@using Microsoft.AspNetCore.Components

<h3>Genre: @Genre</h3>

@if (books == null)
{
    <p>Loading books for "@Genre"...</p>
}
else if (books.Count == 0)
{
    <p>No books found for genre: "@Genre"</p>
}
else
{
    <ul>
        @foreach (var book in books)
        {
            <li><strong>@book.Title</strong> by @book.Author</li>
        }
    </ul>
}

@code {
    [Parameter]
    public string Genre { get; set; }

    private List<Book> books;

    protected override void OnInitialized()
    {
        books = BookRepo.GetBooksByGenre(Genre);
    }
}
