@page "/genrespage/{Genre}"
@using Library.Data
@inject BookRepository BookRepo
@using Microsoft.AspNetCore.Components

<PageTitle>Genre: @Genre</PageTitle>


<h3>Genre: @Genre</h3>

@if (books == null)
{
    <p>Loading books for "@Genre"...</p>
}
else if (books.Count == 0)
{
    <p>No books found for genre: "@Genre"</p>
}
else
{
    <div class="grid-container">
        @foreach (var book in books)
        {
            <li><strong>@book.Title</strong> by @book.Author</li>
            <div class="book-card">
                <div class="placeholder-container">Bildplatzhalter</div>
                <div class="book-text">
                    <p class="author">@book.Author</p>
                    <p class="title"><strong>@book.Title</strong></p>
                    <p class="genre">Genre: @book.Genre</p>
                </div>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public string Genre { get; set; }

    private List<Book> books;

    protected override void OnInitialized()
    {
        books = BookRepo.GetBooksByGenre(Genre);
    }
}
