@page "/SearchBarResults/{searchTerm}"
@inject NavigationManager NavigationManager
@inject BookRepository BookRepository

@using Library.Data
@using System.Web

<h3>Suchergebnisse für: "@searchTerm"</h3>

@if (searchResults == null)
{
    <p>Suche läuft...</p>
}
else if (!searchResults.Any())
{
    <p>Keine Bücher gefunden.</p>
}
else
{
    <ul>
        @foreach (var book in searchResults)
        {
            <li>
                <strong>@book.Title</strong> von @book.Author – @book.Genre
                <br />
                <em>@book.Summary</em>
            </li>
        }
    </ul>
}

@code {
    [Parameter]
    public string searchTerm { get; set; }

    private List<Book> searchResults;

    protected override void OnParametersSet()
    {
        // Suche durchführen mit Repository
        searchResults = BookRepository.SearchBooks(Uri.UnescapeDataString(searchTerm));
    }
}
